*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
/*  border: solid 2px red; */
}
html,body{
  background-color:#ffffff;
;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 12px;
  font-family: 微軟正黑體;
  font-weight: 600;
}

a{
  color: initial;
  text-decoration: initial;
}
.box{
  width: 380px;
  background-color:#e9acbf;
  box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
  transition: 0.5s
}
.box:hover {
  box-shadow: 5px 5px 60px rgba(0,0,0,0.4);
  transform: translate(-5px,-5px);
}

.box:hover .top{
  height: 250px;
}

.top{
  background-image: url(https://i.pinimg.com/originals/2d/c3/91/2dc391255f0fc459513ae9077be1d805.jpg);
  background-position:center;
  background-size: cover;
  height: 330px;
  position: relative;
  transition: 0.5s
}
.top .tag{
  width: 25px;
  height: 50px;
  background-color: #e9acbf;
  float: right;
  margin-right: 20px;
}
.top .name{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: linear-gradient(transparent 0%,black 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}
.top .name .smallText{
  font-size: 14px;
}
.cirbutton{
  width: 50px;
  heigh: 50px;
  background-color:#e4b8c5;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: -20px;
}
.bottom{
  padding: 10px 30px 30px 20px
}
.bottom li{
  padding: 5px 0px 
}
.bottom h3{
  display: inline-block;
}
.bottom ul{
  list-style: none;
  padding-left: 0;
}
.buttons{
  margin-top: 30px;
}

.btnWebsite{
  background-color: #e4b8c5;
  color: white;
  transition: 0.5s;
}